/* variable.css */

:root {
  --color-primary:#a43300;
  --color-red:#c00;
  --color-yellow:#ffaf00;
  --color-mint:#3dd;
  --color-black:#171717;
  --color-gray:#656565;
  --color-gray2:#bbb;
  --color-white:#fff;
}