@charset "UTF-8";

/* layout_02_result.css */

/* reset.css: 웹페이지 디자인작업을 위해, 사전작업을 처리해둔 css파일*/
html,body {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, p, div { margin:0; padding:0;}
ul, ol, dl, li, dt, dd { margin:0; padding:0; list-style:none;}

/* variable.css */
:root {
  --step2-color:#0af;
}

.clearfix:after, .clearfix::after {
  content:""; display:block; clear:both; }

/* design.css */
#wrap {
  width:1600px; margin:auto; height:auto; min-height:500px; 
  background-color:#dadada;}

#wrap > div { width:100%; }

/* #headBox ==================================================*/
#headBox { height:150px; padding:34px 50px 0; box-sizing:border-box;
  background-color:#ddd;}

.logo { 
  float:left; width:250px; height:80px; margin-right:75px;
  background-color:var(--step2-color);}

.navigation { 
  float:left; width:850px; height:auto; background-color: #07a;}
  .navigation > ul { width:100%; height:auto;}

/* float를 정리하기 위해 마지막에 clear:both사용
   li의 마지막에는 다른 요소가 들어갈 수 없으므로 :after 가상태그를 생성
   content, display:block; 필요*/

  .navigation li { float:left; width:150px; height:70px; margin:5px 10px;
  background-color:#fc7;}

.member { 
  float:right; width:250px; height:80px; background-color: var(--step2-color);}


/* #adViewBox ==================================================*/
#adViewBox { height:auto; min-height:750px; padding:28px 0; box-sizing:border-box;
   background-color:#bbb;}

.view_outer { width:1300px; height:600px; margin:auto;
   background-color:var(--step2-color);}

.view_indicator { width:840px; height:auto; margin:auto; margin-top:28px;
   background-color:var(--step2-color);}
  .view_indicator ul { width:100%; height:auto;}

  .view_indicator li { float:left; width:120px; height:40px; margin:10px;
  background-color: #fc7; }

/* #localNavBox ==================================================*/
#localNavBox { height:auto;
   margin-bottom:50px; padding:20px 0 30px; box-sizing:border-box;
   background-color:#aaa;}

.local_nav_outer { width:1500px; height:auto;
   margin:auto; padding: 0 60px; box-sizing:border-box;
   background-color:var(--step2-color); }
  .local_nav_outer ul { width:100%; height:auto;}
  .local_nav_outer li { float:left; width:200px; height:150px; margin:25px 15px;
  background-color: #fc7;}

/* .content_area =================================================== */
.content_area { height:auto; }
.content_area > div { width:100%; padding-bottom:30px; box-sizing:border-box;}
.content_area h3 { width:1300px; height:50px; margin:auto; margin-bottom:30px; 
  background-color:var(--step2-color);}
.content_area .con_area { width:1300px; height:auto; min-height:400px; margin:auto;
  background-color:var(--step2-color);}

/* #popularContentBox ==================================================*/
#popularContentBox { height:auto; background-color:#bbb;}

  .pop_con_area { padding:20px 63px; box-sizing:border-box;}

  .pop_card { float:left; width:350px; height:430px;
  margin-left:62px; padding:8px 10px; box-sizing:border-box;
  background-color: #fc7;}
  .pop_con_area > div:nth-of-type(1) { margin-left:0;}

  .pop_card > .img_context { width:330px; height:200px; margin-bottom:14px;
    background-color: #f8f;}
  .pop_card > .narr_context { width:330px; height:200px;
    background-color: #f8f; }

/* #newContentBox ===============*/
#newContentBox { height:auto; padding-top:60px; 
  margin-bottom:80px; background-color:#ccc;}

  .new_con_area { height:auto; min-height:700px; }
  .new_con_title_area { float: left; width:640px; height:700px; padding:0; 
    background-color: #fc7;}
  .new_con_title_img { width:100%; height:350px; margin-bottom:30px;
     background-color: #f8f;}
  .new_con_title_text { width:600px; height:290px; margin:auto;
  box-sizing:border-box; background-color: #f8f;}
  
  .new_con_more_area { float:right; width:640px; height:400px; padding:0; 
    background-color: #fc7;}

  .new_con_more_area > div { width:100%; height:180px; background-color: #f8f;}
  .new_con_more_01 { margin-bottom:40px;}

/* #recommendedContentBox ==================================================*/
#recommendedContentBox { height:auto; margin-bottom:80px; padding-top:30px;
   background-color: #bbb;}

   .re_con_part_area { float:left; width:300px; height:400px; margin-right:33px;
      background-color: #fc7;}
   .re_con_part_area:nth-child(2) {margin-right:34px;}
   .re_con_part_area:last-child {margin-right:0;}

   .re_con_part_img { width:100%; height:210px;
     background-color: #f8f;}
   .re_con_part_text { width:270px; height:160px; margin:15px;
     background-color: #f8f;}

/* #communityBox ==================================================*/
#communityBox { height:auto; margin-bottom:80px; padding-top:60px;
   background-color: #ddd;}

   .community_area { min-height:600px; box-sizing:border-box;}
   .community_con  { width: 100%; min-height:160px; margin-bottom:60px;
     background-color: #f8f;}
   .community_area > .commu_con_03 { margin-bottom:0;}
   .community_img { float:left; width:300px; height:160px;
     background-color: #fc7;}

   .community_text {float:left; width:1000px; padding-left:30px;
    box-sizing:border-box;}
   .community_text dt {float:left; width:800px; height:40px; margin-top:23px;
     background-color: #fc7;} 
   .community_text dd {float:left; width:970px; height:50px; margin-top:24px;
     background-color: #fc7;} 
   
/* #miniAdBox ==================================================*/
#miniAdBox { height:auto; margin-bottom: 80px; padding:40px 0;
   background-color: #eee;}

.mini_ad_outer { width:1500px; height:300px; margin:auto;
  background-color:var(--step2-color);}
  .mini_ad_part_01 { float:left; width:750px; height:300px;
     background-color: #fc7;}
  .mini_ad_part_02 { float:left; width:350px; height:300px; margin-left:25px;
     background-color: #fc7;}

/* #footBox ==================================================*/
#footBox { margin-bottom:500px; height:auto; padding:25px 0 30px;
   background-color: #888;}

.foot_outer { width:1300px; min-height:140px; margin:auto;
  background-color: var(--step2-color);}
  .foot_part_01 { float:left; width:750px; height:140px; margin-right:270px;
    background-color: #fc7;}
  .foot_part_02 { float:right; width:280px; height:76px; margin-top:32px;
    background-color: #fc7;}
