/* monffee_headBox.css */

.els_wrap { width:100%; height:auto; background-color:var(--color-white);}
.headBox_wrap { position:fixed; top:0; left:0; z-index:1000; height:120px;
  box-shadow:0 0 4px rgba(0,0,0,0.4);}

#headBox { position:relative; width:940px; height:auto; min-height:120px; margin:auto;}
#headBox::before { content:""; display: block;  width:100%; height:120px; 
  position: absolute; top:0; left:0; z-index:-1; background-color:var(--color-white);}
  h1 { position:relative; z-index:1000; float:left; width:220px; height:120px;}
  h1 a { background-image: url("../../img/h1_logo.png");
    background-position: 50% 50%; background-repeat: no-repeat; background-color: var(--color-primary);}

  #navBox { float:right; width:620px; height:100%;}
  #navBox::before { content:" ";  display:block; width:100%; height:100%;
    position: absolute; bottom:0; right:0; z-index:-2;
    background-color: rgba(164,51,0,0.5);}

  #navBox > ul{ width:100%; height:auto; }
  #navBox ul::before { content:" "; display:block; width:180px; height:150px;
    position:absolute; bottom:25px; left:20px;
    background-image: url("../../img/character.svg"); background-size: contain;
    background-repeat: no-repeat; background-position: 50% 50%;}
  #navBox li{ float:left; width:25%; height:auto; }

  #navBox dl{ width:100%; height:auto; }
  #navBox dt{  width:100%; height:120px; }
  #navBox dt > a { position:relative; font-size:1.8rem; 
    display: block; width:100%; height:100%; text-align: center;
    line-height: 120px;;}
    #navBox dt > a::after { content:" "; display:block;
      position: absolute; top:58%; margin-top:10px; left:50%; transform:translate(-50%);
      width:0; height:4px; background-color: var(--color-primary); 
      transition: all 200ms ease;}
    #navBox dt > a:hover::after { width:58%;}

  #navBox dd{ display:block; width:100%; height:auto; background-color: rgba(100,100,100,0.2);
    padding:16px 0; text-align: left; text-indent:18px; font-size:1.125rem; color:var(--color-white);}
  #navBox dd > a { display: block; width:100%; height:auto; 
    padding:5px; margin-bottom: 5px; box-sizing: border-box;}