@charset "UTF-8";
/* reset.css */

/* reset.css: 웹페이지 디자인작업을 위해, 사전작업을 처리해둔 css파일*/

html,body {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, p, div { margin:0; padding:0;}
ul, ol, dl, li, dt, dd { margin:0; padding:0; list-style:none;}
button { margin: 0; padding: 0; border:0;
 background-color: transparent; cursor:pointer;}
a { text-decoration:none; color:inherit;}

hr {
  width:100%; height:0;
  border-bottom:1px solid #333;
}