/* animation.css */

.part { width: 900px; height: 500px; margin: auto;
  border:2px solid #aaa;}
.part ul { width: 100%; height: 100%;}
.part ul > li {
  float: left; position: relative; top:0; left:0;
  width: 70px; height: 70px; margin: 5px; border-radius:35px;
  background-color: #729; text-align: center; line-height: 70px;
  color:#fff;}

  @keyframes round {
    0%{ top:0;} 50%{ top:100px;} 70%{ top:100px; left:30px;} 100%{top:100px; left:100px;} }

  @keyframes mySpin {
    0%{ top:0; left:0;} 30%{ top:50px; transform:rotateX(720deg);}
    70%{ left:100px; transform:rotateX(360deg);} 
    100%{ transform:skew(45deg) scale(1); background-color: #daf;}
  }

  @keyframes arrow {
    0%{top:10px; left:40px;}
    65%{ opacity:0.7;}
    100%{ top:65px; left:40px; opacity: 0;} }

  .part ul > li:nth-child(1) {
    animation-name:round; animation-duration: 1000ms;
    animation-iteration-count:infinite;
    animation-timing-function: ease;}

  .part ul > li:nth-child(2) {
    animation-name:round; animation-duration: 2200ms;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    animation-direction:alternate-reverse;}

  .part ul > li:nth-child(3) {
    animation-name:round; animation-duration: 2200ms;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-direction:alternate;
    animation-fill-mode:forwards;}

  .part ul > li:nth-child(5) {
        animation: mySpin 3000ms infinite alternate linear;}

  .arrowDown { float: left; position:relative; top:0; left:0;
    width:140px; height:140px; color:#fff;
    font-size:65px; border-radius: 70px; 
    background-color: #729;}

  .arrowDown i { position:absolute; top:0; left:0;
    animation-name:arrow;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode:forwards; }

  /*
    *animation
    - animation-name:;
    - animation-duration:;
    - animation-iteration-count:;
    - animation-timing-function:;
    - animation-fill-mode:;
    - animation-delay:;
    - animation-direction:;
    - animation-play-state:;

    * @keyframes {
        form{}
        25% {}
        50% {}
        100% {}
      }
  */