/* fonts_01.css */
/* @font-face 서체정의 */
@font-face { font-family: 'holR'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightRegular.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; }

/** 웹에서 이해가능한 서체확장자
  1.eot - IE 하위버전
  2.woff - 대부분의 브라우저에 적용가능
  3.woff2 ...

  *font-face 영역은 서체의 내용을 직접 설정/정의하는 곳
  굵기, 기울기, 서체명 변경가능
   */

.part { width:800px; height: auto; padding: 10px 50px;
  background-color: #aaf;}

h3 { width: 300px; height: 50px; line-height: 50px; text-align:center;
  background-color: #fff;}

ul { width: 100%; height: auto;}

.fonts_01 li { list-style:decimal}

.fonts_01 li:nth-child(1) { font-style: italic;}
.fonts_01 li:nth-child(2) { font-weight: 600;}
.fonts_01 li:nth-child(3) { font-size:16px;}
.fonts_01 li:nth-child(4) { line-height:160%; background-color: #faf;}
.fonts_01 li:nth-child(5) { font-family:'나눔고딕', dotum, '돋움', sans-serif;}
.fonts_01 li:nth-child(6) { font-family: 'apple SD gothic','myriad pro', 
  arial, 'malgun Gothic', serif;}
.fonts_01 li:nth-child(7) { font-size:2rem; 
  font-family: 'Piazzolla', 'Gugi', cursive;}
.fonts_01 li:nth-child(8) span:nth-of-type(1) 
  { font-family: 'Piazzolla'; font-weight:300; color:var(--color-white);}
.fonts_01 li:nth-child(8) span:nth-of-type(2) 
  { font-family: 'Piazzolla'; font-weight:400; color:var(--color-primary);}
.fonts_01 li:nth-child(8) span:nth-of-type(3) 
  { font-family: 'Piazzolla'; font-weight:700; color:var(--color-point);}
.fonts_01 li:nth-child(9) { font-family: 'holR',serif ; text-indent:100px;}
.fonts_01 li:nth-child(10) { letter-spacing:0.3rem;}
.fonts_01 li:nth-child(10):first-letter { color:#490; font-weight:bold;}
.fonts_01 li:nth-child(11) { word-spacing:1rem;}
.fonts_01 li:nth-child(11)::first-line { font-size:2rem;}


/* *font
  1. font-style 기울기를 설정하는 것으로 normal | italic
  2. font-weight 굵기를 설정하는것 normal(400) | lighter(200) | light(300) | bold(600) | bolder(800) | black(900) . . . 실제론 노멀, 볼드정도 사용
  + 서체에 해당 값이 없으면 사용불가
  3. font-size 폰트의 크기를 의미( %, px, vw, vh, rem, em ... )
  4. line-height 행간을 의미, 첫줄부터 적용되며 해당 높이값의 중앙에 배치
  5. font-family 서체 종류를 설정, 띄어쓰기, 특수글자는 '''로 감싸서 처리, 
    우선순위의 서체 먼저 나열 (,로 구분)
  6. font-family 여러 서체 혼용 시 우선순위를 명확하게 지정해야함
  7. font-face를 이용하여 사용하는 webFont는
    내 컴퓨터에 내장된 서체 대신, 별도의 공간에서 쓰도록 처리된 기술
  9. text-indent 첫줄 들여쓰기
  10. letter-spacing 기본값 0
  11. word-spacing 기본값 0
*/