@charset "UTF-8";
/* fonts_02.css */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('../../font/noto_sans/noto_sans.css');

@font-face { font-family: 'Bazzi'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff'); font-weight: normal; font-style: normal; }



#wrap { width:80%; min-width: 700px; height: auto; min-height: 400px;
  margin: auto; background-color: #ddd; }

  .part {
    width: 100%; height: auto; padding: 30px; margin:10px 0;
    box-sizing: border-box; border: 2px solid #777;
    border-left-width: 0; border-right-width: 0;}
  h3 { color:#575;}
  p { font-size:1.8rem;}

/* ================================================ */

  .google_font p { font-family: 'Amatic SC','Gamja Flower', cursive; }

  .noonnu_font p { font-family:'Bazzi', san-serif; }

  .notoSansKR_font p { font-family:'notoSansKR'; font-weight:400; }
  .notoSansKR_font p span { font-weight:600; }

/* ================================================ */

  .other { background-color: #fff;}
  .other ul { width: 100%; height:auto;}
  .other li { width: 200px; height: 20px; margin-bottom:4rem;
    border:var(--border-line1)}

  .other li:nth-child(1) { white-space:nowrap;}
  .other li:nth-child(2) { word-break:keep-all;}
  .other li:nth-child(3) { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
  .other li:nth-child(4) { text-transform: capitalize; }
  .other li:nth-child(5) { white-space:nowrap; width:100%; }

  /*
    * text-overflow는 넘치는 영역을 말줄임표시로 처리할지 여부를 정하는 기능
    * 조건  1. white-space : nowrap;
            2. 감싸는 영역이 사이즈를 가질것(block)
            3. 감싸는 영역을 넘칠경우 숨김( overflow:hidden; )
            4. text-overflow : ellipsis;
  
  */